

 body {
     background-color: turquoise blue;
 }



h1 {
    color: gold;
    font-family:  charcoal;
    font-size: 200%;
}
p  {
    color: white ;
    font-family: courier;
    font-size: 150%;
}

