/* index.css by Maria Torres */
<head>
 <style>
 body {
     background-color:Mistyblue;
 }
 </style>
 </head>
/body
<body>
h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
}
p  {
    color: red;
    font-family: courier;
    font-size: 150%;
}

</body>
</html>
<body> 
