

 body {
     background-color:lightblue;
 }



h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
}
p  {
    color: red;
    font-family: courier;
    font-size: 150%;
}
li a {
    display: block;
    width: 60px;
}

